<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.tcf.te.tcf.launch.type.remote.app">
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#13;&#10;&lt;container memento=&quot;AbsolutePath&quot; typeId=&quot;org.eclipse.cdt.debug.core.containerType.absolutePath&quot;/&gt;&#13;&#10;&lt;container memento=&quot;programRelativePath&quot; typeId=&quot;org.eclipse.cdt.debug.core.containerType.programRelativePath&quot;/&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;project referencedProjects=&amp;quot;true&amp;quot;/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.cdt.debug.core.containerType.project&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.tcf.te.launch.UUID" value="8d0a80a4-92a3-4328-a488-374867b642fa"/>
<stringAttribute key="org.eclipse.tcf.te.launch.file_transfers" value="&lt;fileTransfers&gt;&#10;&#9;&lt;fileTransfer type=&quot;org.eclipse.tcf.te.runtime.services.interfaces.filetransfer.IFileTransferItem&quot;&gt;&#10;&#9;&#9;{&quot;enabled&quot;:true,&quot;host&quot;:&quot;\u003cWORKSPACE_LOC\u003e/la_sample/pentium4gnu/la_sample/debug/la_sample.out&quot;,&quot;direction&quot;:1,&quot;target&quot;:&quot;/tmp/&quot;,&quot;__VariablesMap__&quot;:{&quot;WORKSPACE_LOC&quot;:&quot;C:/WindRiver/workspace&quot;}}&#10;&#9;&lt;/fileTransfer&gt;&#10;&lt;/fileTransfers&gt;&#10;"/>
<stringAttribute key="org.eclipse.tcf.te.launch.referencedProjects" value="&lt;referencedProjects&gt;&#10;&#9;&lt;referencedProject type=&quot;org.eclipse.tcf.te.launch.core.interfaces.IReferencedProjectItem&quot;&gt;&#10;&#9;&#9;{&quot;enabled&quot;:true,&quot;project_name&quot;:&quot;la_sample&quot;}&#10;&#9;&lt;/referencedProject&gt;&#10;&lt;/referencedProjects&gt;&#10;"/>
<booleanAttribute key="org.eclipse.tcf.te.tcf.processes.core.process_attach_children" value="true"/>
<stringAttribute key="org.eclipse.tcf.te.tcf.processes.core.process_image" value="/tmp/la_sample.out"/>
<booleanAttribute key="org.eclipse.tcf.te.tcf.processes.core.process_stop_at_main" value="true"/>
</launchConfiguration>
